{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Accueil</title>
  <meta charset="utf-8">
  <link href="{% static 'ecole/assets/images/logos.png' %}" rel="shortcut icon"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'patrimoine/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'patrimoine/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'patrimoine/css/region.css' %}">
  <script src="{% static 'patrimoine/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
    <div class="container mt-4">
        <div class=" col bouton d-flex justify-content-between">
            <a type="button" class="btn btn-info mb-3 mt-5 me-auto" href="{% url 'ajout_services' region.id %}">Nouveau dossier</a>
            {% if user.is_authenticated %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="btn btn-info mb-3 mt-5 me-auto" href="{% url 'logout' %}" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="Se deconnecter">Se deconnecter</a>
                    </li>
                </ul>
            {% endif %}
        </div>
        <div class="row">
            {% for service in services %}
                <div class="col-md-3 mb-4">
                    <a href="{% url "inventaire" service.id %}" style="text-decoration:none; border:none;">
                        <div class="card">
                            <div class="card-body text-center">
                                <i class="fas fa-folder fa-4x text-warning"></i>
                                <h5 class="mt-2"> {{service.Nom}} </h5>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>